.footer {
  background-color: #383838;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #5eaa47;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  z-index: 1;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li{
  list-style: none;
}

.header ul li a{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}



.header-image {
  width: 100%; 
  max-width: 200px; 
  height: auto;
  align-items: center;
}

.imagen {
  width: 50px;
  height: 50px;
}

.body {
  background-image: url("/minecraft.png"); /* Ruta de la imagen */
  background-size: cover; /* Escala la imagen para cubrir todo el fondo */
  background-position: center;
  background-repeat: no-repeat; /* No repetir la imagen */
  height: 100vh; /* Asegura que cubra toda la altura de la ventana */
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255); /* Para que el texto sea legible sobre el fondo */
}
:root {
  background-color: #1f1f1f;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
