{% block title %}mostrar_caracteristicas_jefe{% endblock %}

{% block header %}
    <h1>Caracteristicas_jefe</h1>
{% endblock %}

{% block content %}
    {% for caracteristicas_jefe in tablas %}
        <article class="caracteristicas_jefe">
            <header>
                <div>
                    <h2>{{ caracteristicas_jefe['titulo'] }}</h2>
                </div>
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
        
    {% endfor %}
    <footer>
        <p>© minecraft</p>
    </footer>
{% endblock %}
