{% block title %}<h1>MOSTRAR HERRAMIENTAS</h1>{% endblock %}

{% block header %}
    <h1>Herramientas basicas</h1>
{% endblock %}

{% block content %}
    {% for herramientas_basicas in tablas %}
        <article class="herramientas_basicas">
            <header>
                <div>
                    <h2><a href="{{url_for('detalle_herramientas_basicas', id=herramientas_basicas['ID'])}}">{{ herramientas_basicas['nombre_herramienta'] }}</a></h2>
                </div>
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
        
    {% endfor %}
    <footer>
        <p>© minecraft</p>
    </footer>
{% endblock %}

